.euiFilterGroup {
  @include euiFormControlStyle;
  height: 40px;
  padding: 0px;
  width: auto;
  display: inline-block;

  /**
   * 1. Borders from the buttons need need to be negated.
   */
  > * + * {
    border-left: $euiBorderThin !important; // 1
    border-color: tintOrShade($euiBorderColor, 10%, 10%);
  }
}

.euiFilterGroup__popoverPanel {
  width: $euiSize * 20;
}
